main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#pix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

#pix #chave {
    display: none;
    width: 300px;
    overflow: auto;
}

#cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.checkout-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}

.checkout-container.success {
    margin: 50px auto;
    align-items: center;
}

#img-sucess {
    width: 50%;
}

.order-details,
.payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.payment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}




.order-details h2,
.payment-form h2 {
    text-align: center;
    margin-top: 0;
    color: #6A1B9A;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.item-info p {
    margin: 5px 0;
}

.payment-methods {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}

.payment-method {
    flex: 1;
    padding: 10px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.payment-method.activee {
    background: #8C76DB;
    color: white;
}

.credit-card-form {
    display: flex;
    flex-direction: column;
}

.credit-card-form .card-image img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
}

.form-group-inline .form-group {
    flex: 1;
}

.form-group-inline .form-group+.form-group {
    margin-left: 20px;
}

.submit-button {
    padding: 10px;
    background-color: #6A1B9A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #4a0b69;
}



.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name" "number number" "expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.containerCard {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #555555;
    /* Cinza mais escuro */
}

.creditcard .greydark {
    fill: #131314;
    /* Preto quase total */
}


/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.payment-loader {
    width: 200px;
    margin: 0 auto;
    padding: 2rem;
}

.payment-loader .binding {
    content: '';
    width: 60px;
    height: 4px;
    border: 2px solid #00c4bd;
    margin: 0 auto;
}

.payment-loader .pad {
    width: 60px;
    height: 45px;
    border-radius: 8px;
    border: 2px solid #00c4bd;
    padding: 6px;
    margin: 0 auto;
}

.payment-loader .chip {
    width: 12px;
    height: 8px;
    background: #00c4bd;
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 3px;
}

.payment-loader .line {
    width: 52px;
    margin-top: 6px;
    margin-left: 3px;
    height: 4px;
    background: #00c4bd;
    border-radius: 100px;
    opacity: 0;
    -webkit-animation: writeline 3s infinite ease-in;
    -moz-animation: writeline 3s infinite ease-in;
    -o-animation: writeline 3s infinite ease-in;
    animation: writeline 3s infinite ease-in;
}

.payment-loader .line2 {
    width: 32px;
    margin-top: 6px;
    margin-left: 3px;
    height: 4px;
    background: #00c4bd;
    border-radius: 100px;
    opacity: 0;
    -webkit-animation: writeline2 3s infinite ease-in;
    -moz-animation: writeline2 3s infinite ease-in;
    -o-animation: writeline2 3s infinite ease-in;
    animation: writeline2 3s infinite ease-in;
}

.payment-loader .line:first-child {
    margin-top: 0;
}

.payment-loader .line.line1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.payment-loader .line.line2 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.payment-loader .loader-text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #5f6571;
    font-weight: bold;
}


@keyframes writeline {
    0% {
        width: 0px;
        opacity: 0;
    }

    33% {
        width: 52px;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes writeline2 {
    0% {
        width: 0px;
        opacity: 0;
    }

    33% {
        width: 32px;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* media querie para tablets */
@media (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
    }

    .payment-form {
        width: 100%;
    }

}

/* media querie para celulares */
@media (max-width: 426px) {

    .order-item {
        flex-direction: column;

    }

    .item-info {
        text-align: center;
    }

    form {
        order: 1;
    }

    #cartao {
        flex-direction: column;
        order: 0;
    }

}